.DS_Store

## CodeIgniter Files
application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

## Vendor Folder
application/vendor/
/vendor/

## Composer Lock Files
composer.lock

## IDE Files
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

## MySQL Workbench Backup Files
*.mwb.bak

## Excel Temp Files
~$*.xlsx
