div.panel-green {
	border-color: #7CC87F;
}

div.panel-green > .panel-heading {
	border-color: #7CC87F;
	background-color: #95CE92;
	color: #555555;
}

.anime-legend-uhd,
.anime-legend-fhd,
.anime-legend-hd,
.anime-legend-hq,
.anime-legend-lq {
	width: 10px;
	height: 10px;
	display: inline-block;
}

.anime-legend-uhd {
	background-color: #FF99CC;
}

.anime-legend-fhd {
	background-color: #99FF99;
}

.anime-legend-hd {
 background-color: #99CCFF;
}

.anime-legend-hq {
 background-color: #FFCC66;
}

.anime-legend-lq {
 border: 1px solid #777777;
}

.table-unbordered > tbody > tr > td,
.table-unbordered > tbody > tr > th {
	border-top: 0px;
}
